@import "tailwindcss";

body {
  background: linear-gradient(to right, #ddc3e7, #ecc8c9);
  font-family: Calibri, sans-serif, "Segoe UI", "Gill Sans";
}

main {
  min-height: calc(100vh - 160px - 101px);
}

.container {
  @apply w-9/10 sm:w-8/10 mx-auto;
}

@theme {
  --color-purple: #a679d2;
  --color-gray: #6e6982;
  --color-orange: #f1a48c;
  --color-yellow: #fbd664;
}

@layer utilities {
  .hover-scale-sm {
    @apply transition-all duration-200 hover:scale-105;
  }

  .hover-scale-md {
    @apply transition-all duration-200 hover:scale-115;
  }

  .hover-scale-xl {
    @apply transition-all duration-200 hover:scale-125;
  }

  .active {
    position: relative;
  }

  .active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background: black;
  }
}

@layer base {
  .heading {
    @apply text-[clamp(24px,4.5vw,28px)] leading-[1.2] text-center font-bold;
  }

  .heading-h2 {
    @apply text-[clamp(18px,4.5vw,22px)] leading-[1.2] font-semibold;
  }

  .paragraph {
    @apply mt-4 text-[clamp(14px,2.5vw,17px)] text-gray text-center;
  }

  .paragraph-h2 {
    @apply mt-4 text-[clamp(13px,1.6vw,15px)] leading-[1.6] text-gray;
  }

  .section-white {
    @apply bg-[#FBF4F6];
  }
}

@layer components {
  .btn-gradient {
    @apply text-base mt-6 px-8 py-2 cursor-pointer rounded-lg text-white font-bold border-0;
    background: linear-gradient(to right, #c391d8, #fa9fa2);
    font-family: Arial, Helvetica, sans-serif;
  }

  .card {
    @apply flex flex-col items-center mt-5 border border-gray-200 rounded-4xl hover:shadow bg-white;
  }
}
