:root {
  /* COLORS */

  --purple: #a679d2;
  --grey: #6e6982;
  --orange: #f1a48c;
  --yellow: #fbd664;
}

body,
body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: Calibri, sans-serif, "Segoe UI", "Gill Sans";
  background: linear-gradient(to right, #ddc3e7, #ecc8c9);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
