.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(35, 27, 35, 0.15) 0px 0px 0px 1px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px, rgba(0, 0, 0, 0.24) 0px 1px 1px;
  border-radius: 5px;
}

.logo {
  width: 100px;
  border-radius: 5px;
}

.main-menu ul {
  display: flex;
  gap: 1.5rem;
}

.main-menu a {
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.user-actions ul {
  display: flex;
  gap: 1rem;
}

.user-actions ul:hover {
  cursor: pointer;
}

.container-fluid .row {
  margin-bottom: 0;
}
