.intro {
  margin: 5.5rem 0;
}

.intro-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.img-wrapper img {
  width: 100%;
  max-width: 640px;
  border-radius: 5%;
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.text-section h1 {
  font-size: clamp(24px, 2.5vw, 42px);
  line-height: 1.2;
}

.text-section .second-line {
  color: var(--purple);
}

.text-section p {
  margin-top: 1rem;
  font-size: clamp(14px, 1.2vw, 20px);
  color: var(--grey);
}

.numbers-section {
  display: flex;
  gap: 2.5rem;
  margin-top: 3rem;
}

.numbers-section h1 {
  font-size: clamp(22px, 2.2vw, 36px);
}

.numbers-section p {
  color: var(--grey);
  font-size: clamp(12px, 1vw, 18px);
}

.numbers-section .section1 {
  color: var(--purple);
}

.numbers-section .section2 {
  color: var(--orange);
}

.rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--yellow);
}

.rating h1 {
  margin: 0;
}

@media (max-width: 768px) {
  .intro {
    margin: 3rem 0;
  }

  .numbers-section {
    gap: 1.5rem;
    margin-top: 2rem;
    justify-content: space-between;
  }

  .text-content {
    text-align: center;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .numbers-section {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
